* {
    border: none;
    border-radius: 0;
    font-family: "Noto Sans Mono", monospace;
    font-size: 12px;
    min-height: 0;
}

window#waybar {
    /*background: rgba(43, 48, 59, 0.8);*/
	background: transparent;
    /*border-bottom: 3px solid rgba(100, 114, 125, 0.5);*/
    color: white;
	border: none;
	padding: 2px;
}

tooltip {
  background: rgba(43, 48, 59, 0.5);
  border: 1px solid rgba(100, 114, 125, 0.5);
}
tooltip label {
  color: white;
}

#workspaces button {
    padding: 0 5px;
	background: #181825;
    /*background: transparent;*/
    color: white;
    border-bottom: 3px solid transparent;
}

#workspaces button.focused {
    background: #9399b2;
    border-bottom: 3px solid black;
	color: black;
}
#workspaces button:last-child {
	border-radius: 0 5px 5px 0;	
}

#clock, #battery, #custom-package-count,
#custom-package-updates, #cpu, #memory, #pulseaudio.sound, #backlight.value {
    padding: 0 10px;
}

#clock {
	background-color: #89b4fa; 
	color: black;
}
#battery {
	background-color: #a6e3a1;
	color: black;
}
#pulseaudio.sound {
	background-color: #e64553;
	color: white;
}
#backlight.value {
	background-color: #e5c890;
	color: black;
}
#memory {
	background-color: #8839ef;
	color: white;
}
#cpu {
	background-color: #179299;
	color: white;
}
#custom-package-count {
	background-color: #babbf1;
	color: black;
	border-radius: 5px 0 0 5px;
}
